@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #f8f8fa;
    --main2-color: #ffffff;
    --input-background: #ffffff;
    --input-placeholder: #757575;
    --active-color: #6d78f4;
    --text-color: #504a4c;
    --text-color2: #abacb9;
    --text-color3: #242629;
    --font-family: "Poppins", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
}

h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
    font-family: var(--font-family);
}

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color3);
    font-family: var(--font-family);
}

h3 {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: var(--text-color2);
    font-family: var(--font-family);
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: var(--text-color3);
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--text-color);
    font-family: var(--font-family);

}

.side_left_menu {
    position: relative;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 275px;
    overflow: hidden;
    background-color: var(--main2-color);
    border-right: 1px solid #EDEDF5;
    padding: 30px 16px 16px 16px;
}

.link {
    margin: 4px 0;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 8px 12px;
    column-gap: 8px;
    text-decoration: none;
    border: none;
    background: none;
    border-radius: 4px;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    width: calc(100% - 24px);
}

.link.active {
    background-color: #e5e7ee;
    font-weight: 600;
    width: calc(100% - 16px);
    border-radius: 4px;
    padding-left: 16px;
}

.btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 40px;
    padding: 0 12px;
    overflow: hidden;
    transition: all .2s ease;
    column-gap: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    background-color: var(--text-color3);
    color: var(--main2-color);
    font-family: var(--font-family);
}

.btn:hover {
    background-color: var(--active-color);
    transition: all 0.3s ease;
}

.input {
    border-radius: 4px;
    border: 1px solid #e6e9f4;
    display: block;
    font-size: .875rem;
    width: 100%;
    outline: none;
    height: 40px;
    padding: 0 15px;
}

.task-creating_input {
    position: absolute;
    height: 38px;
    min-height: 40px;
    padding: 10px 12px;
    overflow: hidden;
    color: var(--text-color2);
    background: unset;
    background-color: var(--main2-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1.5px solid transparent;
    outline: none;
    border-radius: 8px;
}

.user {
    margin-bottom: 16px;
}