body{
    font-family: onest;
    background-color: #e6eff7;
    color: #3a2d34;
}
a{
    text-decoration: none;

}

.task_area{
    margin-left: 200px;
}



.search-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;

}

.search-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px; /* Отступ между полем ввода и выпадающим меню */
    border: 1px solid #beaedb;
    border-radius: 5px;
    font-family: onest;
}

.filter-container {
    position: relative; /* Устанавливаем позицию для контейнера фильтра */
    margin-left: 10px;
    margin-right: 10px;
}

.filter-select {
    padding: 10px; /* Отступы внутри выпадающего меню */
    border: 1px solid #beaedb; /* Рамка выпадающего меню */
    border-radius: 5px; /* Закругление углов выпадающего меню */
    cursor: pointer;
    font-family: onest;
    color: #3a2d34;
}

.notification-container {
    margin-left: 7px;
    cursor: pointer;
    position: relative;
}

.notification-icon {
    width: 40px;
    height: 40px;
    position: relative;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 7px 7px;
    font-size: 12px;
    display: none;
}

.notification-popup {
    width: 300px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1000;
 }

.notification-item {
    margin-bottom: 10px; /* Отступ между уведомлениями */
}

