.main-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}


.my_task_area {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
}


.my_task_area button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 100px;
}


.my_task_area button:hover {
    background-color: #dcdcdc;
}


.list_of_tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: transparent;
    width: 668px;
    margin: 0 auto;
}


.list_of_tasks div {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
    width: 668px;
    height: 100px;
}


.list_of_task h3{
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #333;
}


.list_of_task small {
    font-size: 14px;
    color: #777;
}


.list_of_task div:hover {
    transform: translateY(-3px);
    background-color: #f0f8ff;
}

#forgotten {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    padding: 15px 25px;
    z-index: 10;
    background-color: #beaedb;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#forgotten:hover {
    background-color: #75619d;
}


#forgotten-container {
    position: fixed;
    top: 80px; /* Расположить под кнопкой (20px кнопка + отступ 40px) */
    right: 20px; /* Совместить с правым краем кнопки */
    width: 300px; /* Задайте подходящую ширину */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-height: 300px; /* Ограничение по высоте */
    overflow-y: auto; /* Добавить прокрутку при переполнении */
    z-index: 9; /* Чтобы быть ниже кнопки */
}

.forgotten-task {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}