.main-area {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Начало страницы по вертикали */
    height: auto; /* Высота подстраивается под содержимое */
}

.my_task_area {
    text-align: center; /* Текст внутри блока тоже центрируется */
    padding: 20px;
    background-color: #f9f9f9; /* Светлый фон для визуального выделения */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень для эстетики */
}

.my_task_area button {
    background-color: #f0f0f0; /* Светло-серый фон */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 100px; /* Добавляем отступы слева и справа */
}

.my_task_area button:hover {
    background-color: #dcdcdc; /* Темнее при наведении */
}

.list_of_tasks {
    padding: 10px 20px;
    background-color: transparent;
    text-align: left;
    font-size: 16px;
}

.list_of_tasks .task {
    border: 1px solid #ccc; /* Цвет и толщина границы */
    border-radius: 8px; /* Скругленные углы, если нужно */
    padding: 10px; /* Отступы внутри квадрата */
    margin-bottom: 10px; /* Расстояние между задачами */
    background-color: #f9f9f9; /* Цвет фона квадрата */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    transition: transform 0.2s; /* Анимация при наведении */
}

.list_of_tasks .task:hover {
    transform: scale(1.02); /* Увеличение при наведении */
    border-color: #007bff; /* Цвет границы при наведении */
}