#TaskForm {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--main2-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 25%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    color: #3A2D34;
    display: flex;
    flex-direction: column;
}

#TaskForm input[type="text"],
#TaskForm input[type="date"],
#TaskForm textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#TaskForm textarea {
    height: 100px; 
}


.task-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#TaskForm .task-status input[type="checkbox"] {
    margin-right: 5px; 
}

#TaskForm .subtask input[type="text"] {
    width: 100%;
    padding: 5px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#TaskForm .subtask input[type="text"]::placeholder {
    color: #ccc; 
}

#TaskForm .subtask input[type="text"]:focus {
    outline: none; 
    border-color: #BEAEDB; 
}

#TaskForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.priority{
    display: flex;
    justify-content: space-between;
}


.save-btn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
}


.button-subtask-container button {
    width: 25px;
    height: 25px;
    background-color: var(--text-color3);
    color: var(--main2-color);
    font-weight: 600;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.button-subtask-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.button-subtask-container button:hover {
    background-color: var(--active-color);
}

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#foldersList {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    margin: 5px 0 0;
    z-index: 1000;
    width: 200px;
}

#foldersList li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

#foldersList li:hover {
    background-color: #f0f0f0;
    color: #483d8b;
}

#foldersList li:active {
    background-color: #dcdcdc;
    color: #483d8b;
}


.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 1000; /* Убедитесь, что модальное окно поверх других элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Центрирование модального окна */
    padding: 20px;
    border-radius: 8px; /* Закругленные углы */
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта поднятия */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-container {
    display: flex; /* Используем Flexbox для расположения кнопок в ряд */
    justify-content: space-around; /* Распределяем пространство между кнопками */
    margin-top: 20px; /* Отступ сверху для кнопок */
}
