.my_task_area {
    margin-top: 5px; /* Отступ между контейнером поиска и неделей */
    max-width: 100%;
    box-sizing: border-box;
}

/* Заголовок недели */
.week-view h2 {
    text-align: center;
    color: #3A2D34;
}

.week-view .calendar-container{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* Навигация */
.week-view .navigation {
    margin: 0px 10px;
}

.week-view button {
    background-color: #beaedb;
    color: #3A2D34;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.week-view button:hover {
    background-color: #75619d;
}

/* Календарь */
.week-view .calendar {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.week-view .day {
    flex: 1;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    position: relative;
    font-size: 12px;
}

.date {
    font-size: 1.5em;
    margin: 10px 0;
}

.task-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s;
}

.task-card:hover {
    background-color: #e0e0e0; /* Изменение цвета при наведении */
}




