.week-view .calendar-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.week-view .navigation {
    margin: 0px 10px;
}

.btn-add-task {
    width: 250px;
    margin-bottom: 15px;
}

.week-view .calendar {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 100%;
}

.week-view .day {
    flex: 1;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    position: relative;
    font-size: 12px;
}

.date {
    font-size: 1.5em;
    margin: 10px 0;
}

.task-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--main2-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.tasks-container {
    margin-top: 10px;
}

.my_task_area {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--main2-color);
    border-radius: 10px;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    position:relative;
}

.my_task_area:hover {
    border: 1px solid #ccc;
}

.delete-button-container {
    position: absolute; /* Устанавливаем абсолютное позиционирование для контейнера кнопки */
    bottom: 10px; /* Отступ от нижней границы */
    right: 10px; /* Отступ от правой границы */
}

.delete-task-button {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}


.delete-icon {
    width: 20px;
    height: 20px;

}

