{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tasks/css/base.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    {% if request.resolver_match.url_name != 'Login' and request.resolver_match.url_name != 'Registration' %}
        <div class="side_left_menu">
            <div class="user">
                <h1>Профиль</h1>
            </div>
            <a href="{% url 'home' %}" class="link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                Задачи на неделю
            </a>
            <a href="{% url 'my_tasks' %}" class="link {% if request.resolver_match.url_name == 'my_tasks' %}active{% endif %}">
                Список задач на месяц
            </a>
            <a href="{% url 'my_folders' %}" class="link {% if request.resolver_match.url_name == 'my_folders' %}active{% endif %}">
                Мои папки
            </a>
        </div>
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>