{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ежедневник{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tasks/css/task-form.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/week.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="main-area">
    <div class = "task_area">
        <div class ="search-container">
            <input type="text" placeholder="Найти задачу..." class="search-input" id="search-input">
            <button class="btn search-btn" id="search-button" >Поиск</button>
            <div id="search-results"></div>

            <div class="filter-container">
                <label for="filterSelect" class="filter">Фильтр:</label>
                <select id="filterSelect" class="filter-select btn">
                    <option value="">Выберите фильтр</option>
                    <option value="status">Статус</option>
                    <option value="priority">Приоритет</option>
                    <option value="tag">Тег</option>
                </select>
            </div>

            <div class="notification-container">
                <img src="{% static 'tasks/img/bell-alarm.svg' %}" alt="Уведомления" class="notification-icon" onclick="toggleNotifications()">
                <div class="notification-badge" id="notificationBadge"></div>
                <div id="notificationPopup" class="notification-popup pas" style="display: none;">
                 </div>
            </div>

        </div>

        <div class="week-view">
            <h1>Задачи</h1>
            <div class = "calendar-container">
                <button id="prevDays" onclick="changeDays(-7)" class="btn">&#9664;</button>
                <div class="calendar" id="calendar">
                    {% for date, info in grouped_tasks.items %}
                        <div class="day" id="day1">
                            <p class="day-name">{{info.weekday}}</p>
                            <p class="date">{{ date }}</p>
                            <button class="btn btn-add-task">Добавить задачу</button>
                            <div class="tasks-container">
                                {% for task in info.tasks %}
                                   <div class="my_task_area" data-task-id="{{ task.id }}"
                                        data-task-full-text="{{ task.full_text }}"
                                        data-task-deadline="{{ task.deadline|date:'Y-m-d' }}"
                                        data-task-folder="{{ task.folder }}"
                                        data-task-priority="{{ task.priority }}"
                                        data-task-is-completed="{{ task.is_completed }}">
                                       <h2>{{ task.title }}</h2>
                                   </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button id="nextDays" onclick="changeDays(7)" class="btn">&#9654;</button>
            </div>
        </div>

        <div class="task">
            <div class="hidden" id="TaskForm"> 
                {% csrf_token %}
                <div class="task-status">
                    <label for="taskCompleted">
                        <input type="checkbox" id="taskCompleted">
                        Выполнено
                    </label>
                    <button class="btn" id = "startButton">Старт</button>
                </div>
                <div id="timerModal" class="modal">
                    <div class="modal-content">
                        <span class="close-button" id="closeButton">&times;</span>
                        <h2>Таймер</h2>
                        <div id="timer">00:00</div>
                        <div class="btn-container">
                            <button class="btn" id="startTimerButton">Старт</button>
                            <button class="btn" id="stopButton">Стоп</button>
                            <button class="btn" id="resetButton">Сброс</button>
                        </div>
                    </div>
                </div>
                <input type="text" placeholder="Название задачи" id="taskName">
                <div class="deadline" >
                    <p>Крайний срок выполнения задачи</p>
                    <input type="date" id="taskDate">
                </div>
                <div class="priority">
                    <p class="priority-text btn"> Приоритет задачи</p>
                    <select id="taskPriority" class="priority-btn btn">
                        <option value=3>Низкий</option>
                        <option value=2>Средний</option>
                        <option value=1>Высокий</option>
                    </select>
                </div>
                <textarea placeholder="Заметка" id = "taskFullText"></textarea>
                <div>
                    <button id="chooseFolderBtn" type="button" class="btn">Выберите папку</button>
                    <ul id="foldersList" style="display: none; position: absolute; list-style: none; padding: 0; margin: 0;">
                    </ul>
                </div>
                <select id="taskFolder" style="display: none;">
                    <option value="">Выберите папку</option>
                </select>
                <div class="subtask-container">
                    <div class="subtask">
                        <input type="text" placeholder="Подзадача">
                    </div>
                    <div class="button-subtask-container">
                        <button id="addSubtask" class="circle-btn">+</button>
                        <button id="removeSubtask" class="circle-btn">-</button>
                    </div>
                </div>

                <button id = "SaveTask" class="btn">Сохранить</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'tasks/js/open_task_form.js' %}"></script>
<script src="{% static 'tasks/js/subtask.js' %}"></script>
<script src="{% static 'tasks/js/calendar.js' %}"></script>
<script src="{% static 'tasks/js/remind_task.js' %}"></script>
<script src="{% static 'tasks/js/search_tasks.js' %}"></script>
<script src="{% static 'tasks/js/timer.js' %}"></script>

<script type="module" src="{% static 'tasks/js/taskHandlers.js' %}"></script>
<script> const foldersUrl = "{% url 'get_all_folders' %}" </script>
{% endblock %}
