{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ежедневник{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/task-form.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/week.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/my_folders.css' %}">
{% endblock %}

{% block content %}
<div class="main-area">
    <div class="area">
        <h1>Мои папки</h1>
        <div class="create-folder">
            <input class="input-folder" type="text" id="folder-title" placeholder="Введите название папки" />
            <button id="create-folder-button" class="btn btn-folder">Создать папку</button>
        </div>
        <div id="response-message"></div>


            <div class="folders">
                <ul id="folder-list" class="folder-list">
                    {% for folder in folders %}
                    <li>
                        <button class="btn btn-folder" data-folder-id="{{ folder.id }}">{{ folder.title }}</button>
                        <div id="folder-{{ folder.id }}-contents" class="folder-contents" style="display:none;">
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    <div class="task" data-task-id="{{ task.id }}">

        <div class="hidden" id="TaskForm">
            {% csrf_token %}
            <div class="task-status">
                <label for="taskCompleted">
                    <input type="checkbox" id="taskCompleted">
                    Выполнено
                </label>
                <button class="btn" id = "startButton">Старт</button>
            </div>
            <div id="timerModal" class="modal">
                    <div class="modal-content">
                        <span class="close-button" id="closeButton">&times;</span>
                        <h2>Таймер</h2>
                        <div id="timer">00:00</div>
                        <div class="btn-container">
                            <button class="btn" id="startTimerButton">Старт</button>
                            <button class="btn" id="stopButton">Стоп</button>
                            <button class="btn" id="resetButton">Сброс</button>
                        </div>
                    </div>
            </div>
            <input type="text" placeholder="Название задачи" id="taskName">
            <div class="deadline" >
                <p>Крайний срок выполнения задачи</p>
                <input type="date" id="taskDate">
            </div>
            <div class="priority">
                <p class="priority-text btn"> Приоритет задачи</p>
                <select id="taskPriority" class="priority-btn btn">
                    <option value=3>Низкий</option>
                    <option value=2>Средний</option>
                    <option value=1>Высокий</option>
                </select>
            </div>
            <textarea placeholder="Заметка" id = "taskFullText"></textarea>
            <div>
                <button id="chooseFolderBtn" type="button" class="btn">Выберите папку</button>
                <ul id="foldersList" style="display: none; position: absolute; list-style: none; padding: 0; margin: 0;">
                </ul>
            </div>
            <select id="taskFolder" style="display: none;">
                <option value="">Выберите папку</option>
            </select>
            <div class="subtask-container">
                <div class="subtask">
                    <input type="text" placeholder="Подзадача">
                </div>
                <div class="button-subtask-container">
                    <button id="addSubtask" class="circle-btn">+</button>
                    <button id="removeSubtask" class="circle-btn">-</button>
                </div>
            </div>
            <div class="delete-button-container">
                <button class="delete-task-button" data-task-id="{{ task.id }}">
                    <img src="{% static 'tasks/img/delete.svg' %}" alt="Удалить" class="delete-icon_f">
                </button>
            </div>

            <button id = "SaveTask" class="btn">Сохранить</button>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="module" src="{% static 'tasks/js/folders_view.js' %}"></script>
<script type="module" src="{% static 'tasks/js/open_task_form.js' %}"></script>
<script type="module" src="{% static 'tasks/js/timer.js' %}"></script>
<script type="module" src="{% static 'tasks/js/delete_f.js' %}"></script>
<script> const foldersUrl = "{% url 'get_all_folders' %}" </script>
{% endblock %}