{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ежедневник{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/task-form.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/week.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/my_folders.css' %}">
{% endblock %}

{% block content %}
<div class="main-area">
    <div class="area">
        <h1>Мои папки</h1>
        <div class="create-folder">
            <input class="input-folder" type="text" id="folder-title" placeholder="Введите название папки" />
            <button id="create-folder-button" class="btn btn-folder">Создать папку</button>
        </div>
        <div id="response-message"></div>


            <div class="folders">
                <ul id="folder-list" class="folder-list">
                    {% for folder in folders %}
                    <li>
                        <button onclick="loadFolderContents({{ folder.id }})" class="btn btn-folder">{{ folder.title }}</button>
                        <div id="folder-{{ folder.id }}-contents" class="folder-contents" style="display:none;">
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

<script src="{% static 'tasks/js/folders_view.js' %}"></script>

{% endblock %}