{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ежедневник{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/task-form.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/side-menu.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/week.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/my_tasks.css' %}">
{% endblock %}

{% block content %}
<div class="main-area"><!--Вся страница-->
    <div class="side_left_menu"><!--Боковое меню-->
        <div class = "user"><!--Добавляется картинка и имя (еще буду думать как сюда забивать данные с авторизации)-->
            <h3>Моё имя</h3><!--По идее сюда будет добавляться имя пользователя с авторизации-->
        </div>
        <button class = "btn_left"><a href="{% url 'home' %}">На главную</a></button><!--Кнопка, ведет к моим задачам-->
        <div class="folders">
            <p>Папки</p>
            <ul><!--Здесь должны отображаться папки, пока не доделано--></ul>
        </div>
    </div>
    <div class="area">
        <div class = "my_task_area">
            <div class="week-view">
                <h2>Список задач на неделю</h2>
                <button id="prevDays" onclick="changeDays(-7)">&#9664;</button>
                <span id="weekRange">Loading...</span>
                <button id="nextDays" onclick="changeDays(7)">&#9654;</button>
            </div>
        </div>
        <div class="list_of_tasks">
            <!--Автоматическое добавление задач-->
        </div>
        <div class="list_of_forgotten_tasks" style="display: none;"></div>
            <button id="forgotten" onclick="get_forgotten_tasks()">&#9827;</button>
                <div id="forgotten-container"></div>


    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'tasks/js/open_task_form.js' %}"></script>
<script src="{% static 'tasks/js/subtask.js' %}"></script>
<script src="{% static 'tasks/js/calendar_for_week.js' %}"></script>
<script src="{% static 'tasks/js/remind_task.js' %}"></script>
<script src="{% static 'tasks/js/list_of_tasks.js' %}"></script>
<script src="{% static 'tasks/js/forgotten_tasks.js' %}"></script>
{% endblock %}