{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ежедневник{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/task-form.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/week.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/my_tasks.css' %}">
{% endblock %}

{% block content %}
<div class="main-area">
    <div class="area">
    <h1>Список задач на месяц</h1>
        <div class="my_task_area_tittle">
            <div class="btn-data">
                <button id="prevMonth" onclick="changeMonth(-1)" class="btn">&#9664;</button>
                <span id="monthRange">Loading...</span>
                <button id="nextMonth" onclick="changeMonth(1)" class="btn">&#9654;</button>
            </div>
        </div>
        <div class="list_of_tasks">
            <!--Автоматическое добавление задач-->
        </div>
        <div class="list_of_forgotten_tasks" style="display: none;"></div>
        <button id="forgotten" onclick="get_forgotten_tasks()" class="btn">&#8617;</button>
        <div id="forgotten-container"></div>

        <div class="task">
            <div class="hidden" id="TaskForm">
                {% csrf_token %}
                <div class="task-status">
                    <label for="taskCompleted">
                        <input type="checkbox" id="taskCompleted">
                        Выполнено
                    </label>
                    <button class="btn">Старт</button>
                </div>
                <input type="text" placeholder="Название задачи" id="taskName">
                <div class="deadline" >
                    <p>Крайний срок выполнения задачи</p>
                    <input type="date" id="taskDate">
                </div>
                <div class="priority">
                    <p class="priority-text btn"> Приоритет задачи</p>
                    <select id="taskPriority" class="priority-btn btn">
                        <option value=3>Низкий</option>
                        <option value=2>Средний</option>
                        <option value=1>Высокий</option>
                    </select>
                </div>
                <textarea placeholder="Заметка" id = "taskFullText"></textarea>
                <div>
                    <button id="chooseFolderBtn" type="button" class="btn">Выберите папку</button>
                    <ul id="foldersList" style="display: none; position: absolute; list-style: none; padding: 0; margin: 0;">
                    </ul>
                </div>
                <select id="taskFolder" style="display: none;">
                    <option value="">Выберите папку</option>
                </select>
                <div class="subtask-container">
                    <div class="subtask">
                        <input type="text" placeholder="Подзадача">
                    </div>
                    <div class="button-subtask-container">
                        <button id="addSubtask" class="circle-btn">+</button>
                        <button id="removeSubtask" class="circle-btn">-</button>
                    </div>
                </div>

                <button id = "SaveTask" class="btn">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'tasks/js/open_task_form.js' %}" type="module"></script>
<script src="{% static 'tasks/js/forgotten_tasks.js' %}" type="module"></script>
<script src="{% static 'tasks/js/subtask.js' %}"></script>
<script src="{% static 'tasks/js/calendar_for_month.js' %}"></script>
<script src="{% static 'tasks/js/list_of_tasks.js' %}" type="module"></script>

{% endblock %}